specs/001-n8n-chat-workflow/workflow.fixed.json
{
    "name": "HR Policy Chat",
    "active": true,
    "nodes": [
        {
            "parameters": {
                "path": "chat",
                "httpMethod": "POST",
                "responseMode": "responseNode"
            },
            "name": "Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                240,
                300
            ]
        },
        {
            "parameters": {
                "url": "http://app:8000/api/chat",
                "jsonParameters": true,
                "sendBody": true,
                "bodyParametersJson": "={{$json}}",
                "responseFormat": "json"
            },
            "name": "HTTP Request",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 1,
            "position": [
                540,
                300
            ]
        },
        {
            "parameters": {
                "functionCode": "const ans = $json.answer || ''; const citsAll = Array.isArray($json.citations) ? $json.citations : []; const cits = citsAll.slice(0,5); const rid = $json.request_id || ''; const hasCitations = citsAll.length > 0; const list = cits.map(c => { const doc = c.doc || ''; const section = c.section || ''; const href = `/docs/${encodeURIComponent(doc)}#${encodeURIComponent(section)}`; return `<li><a href=\\\"${href}\\\">${doc} — ${section}</a></li>`; }).join(''); const okHtml = `<div style=\\\"font-family:Inter,system-ui,sans-serif;\\\"><h2 style=\\\"margin:0 0 8px\\\">Assistant Response</h2><div style=\\\"margin-bottom:8px\\\">${ans}</div><div><strong>Citations</strong><ul>${list}</ul></div><div style=\\\"margin-top:12px;color:#666\\\">request_id: ${rid}</div></div>`; const errMsg = $json.message || 'This assistant requires at least one source citation to answer. Please ingest or reference documents and include at least one citation (doc + section).'; const errHtml = `<div style=\\\"font-family:Inter,system-ui,sans-serif;\\\"><div style=\\\"background:#fff3cd;border:1px solid #ffec99;padding:10px;margin-bottom:10px;\\\"><strong>Missing citations</strong><br/>${errMsg}</div><div style=\\\"margin-top:12px;color:#666\\\">request_id: ${rid}</div></div>`; const statusCode = hasCitations ? 200 : 400; const body = hasCitations ? okHtml : errHtml; return [{ json: { statusCode, body } }];"
            },
            "name": "Build HTML",
            "type": "n8n-nodes-base.function",
            "typeVersion": 1,
            "position": [
                1020,
                300
            ]
        },
        {
            "parameters": {
                "responseCode": "={{$json.statusCode}}",
                "responseBody": "={{$json.body}}",
                "options": {}
            },
            "name": "Respond to Webhook",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                1260,
                300
            ]
        }
    ],
    "connections": {
        "Webhook": {
            "main": [
                [
                    {
                        "node": "HTTP Request",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "HTTP Request": {
            "main": [
                [
                    {
                        "node": "Build HTML",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Build HTML": {
            "main": [
                [
                    {
                        "node": "Respond to Webhook",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "pinData": {},
    "settings": {
        "saveExecutionProgress": true
    },
    "staticData": {},
    "meta": {
        "version": 1
    }
}